    <!-- content here -->
    <div class="rounded container mx-auto my-3">
      <div class="row col-12">
        <div class="rounded col-md-6">
            <button type="button" class="btn btn-dark rounded mx-3 p-2 mb-3 text-center align-middle btn-block">My Sections</button>
            {{#each items}}
            <a href="/section/{{id}}" class="nav-link"><div class="btn rounded mx-3 mb-3 text-center align-middle btn-block" style="background-image: url('/images/bgFridge.png');">
              <h2>{{name}}</h2>
            </div></a>
            {{/each}}
        </div>
         
        <div class="rounded col-md-6">
          <a href="/shopping"><button type="button" class="btn btn-dark rounded mx-3 p-2 mb-3 text-center align-middle btn-block">Generate Shopping List</button></a>
          <!-- populate running low ingredients here -->
          <table class="table-responsive table table-borderless mx-3 mb-20 text-center align-middle w-100 table-hover" style="background-color: #ff9a4a;">
            <thead class="rounded" style="background-color: #ffb202;">
              <th scope="col">Name</th>
              <th scope="col">Qty</th>
              <th scope="col">Type</th>
              <th scope="col">Expires</th>
            </thead>
            <tbody>
            {{#each items }}
              {{#each items}}
                {{#if name}}
            <tr>
              <td width="35%">{{name}}</td>
              <td width="25%" class="text-left">{{quantity}} {{unit_of_measurement}}</td>
              <td width="25%" class="text-center">{{type}}</td>
              <td width="15%" class="text-right">{{get_day exp_date}}</td>
            </tr>
                {{/if}}
              {{/each}}
            {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
      
