    <div class="rounded container col-10 p-2 w-100 m-3 mx-auto">
      <div class="row">
          <div class="rounded col-md-5 mx-3">
            <button type="button" class="btn btn-dark rounded mx-3 p-2 mb-3 text-center align-middle btn-block">+ New Section</button>
            
            <div class="btn rounded mx-3 p-2 mb-3 text-center align-middle btn-block" style="background-image: url('images/bgFridge.png');">
              <h2>My Fridge</h2>
            </div>
            <div class="btn rounded mx-3 p-2 mb-3 text-center align-middle btn-block" style="background-image: url('images/bgFreezer.png');">
              <h2>My Freezer</h2>
            </div>        
            <div class="btn rounded mx-3 p-2 mb-3 text-center align-middle btn-block" style="background-image: url('images/bgPantry.png');">
              <h2>My Pantry</h2>
            </div>        
            <div class="btn rounded mx-3 p-2 mb-3 text-center align-middle btn-block" style="background-image: url('images/bgRecipes.png');">
              <h2>My Recipes</h2>
            </div>        

          </div>
          <div class="rounded col-md-5 mx-3 text-center">
            <button type="button" class="btn btn-dark rounded mx-3 p-2 mb-3 text-center align-middle btn-block">Generate Shopping List</button>
            <div class="rounded mx-3 p-2 mb-3 btn-block"  style="background-color: #ffb202;">
              <h2 >Running low on:</h2>
              <h6>
              <!-- populate running low ingredients here -->
              <div style="background-color: #ff9a4a;" class="row rounded my-2 runningLow w-100 mx-auto p-1">
                <span>Cheese</span>
                <span>3 slices</span>
                <span>Dairy</span>
                <span>Exp: 1d</span>
                <button type="button" class="btn btn-success btn-sm">Add</button>
              </div>

              <div style="background-color: #ff9a4a;" class="row rounded my-2 runningLow w-100 mx-auto p-1">
                <span>Ribeye</span>
                <span>3 lbs</span>
                <span>Meat</span>
                <span>Exp: 2d</span>
                <button type="button" class="btn btn-success btn-sm">Add</button>
              </div>
              </h6>
              
              <div style="background-color: #ff9a4a;" class="row rounded my-2 runningLow w-100 mx-auto p-1">
                <span>Onions</span>
                <span>1 unit</span>
                <span>Veg</span>
                <span>Exp: 5d</span>
                <button type="button" class="btn btn-success btn-sm">Add</button>
              </div>

              {{#each items as |item|}}
                {{#if exp_date}}
                {{/if}}
                <div style="background-color: #ff9a4a;" class="row rounded my-2 runningLow w-100 mx-auto p-1">
                  <span>{{name}}</span>
                  <span>{{quantity}} {{unit_of_measurement}}</span>
                  <span>{{type}}</span>
                  <span>Exp: {{exp_date}}</span>
                  <button type="button" class="btn btn-success btn-sm">Add</button>
                </div>

              {{/each}}
              </h6>

            </div>

            </div>  

          </div>
      </div>
        
        
  </div>
