    <div class="row">
      <div class="col-auto">
        <h2>{{name}}'s Kitchen</h2>
      </div>
    </div>
    {{#each sections}}
      <div class="btn rounded mx-3 p-2 mb-3 text-center align-middle btn-block" style="background-image: url('images/bgFridge.png');" data-id={{id}}>
      <h2><a href="/fridge">{{name}}</a></h2>
      </div>
    {{/each}}

    {{!-- <div class="rounded container col-10 p-2 w-100 m-3 mx-auto">
      <div class="row">
          <div class="rounded col-md-5 mx-3">
            <button type="button" class="btn btn-dark rounded mx-3 p-2 mb-3 text-center align-middle btn-block">+ New Section</button>
            
            <div class="btn rounded mx-3 p-2 mb-3 text-center align-middle btn-block" style="background-image: url('images/bgFridge.png');">
              <h2><a href="/fridge">My Fridge</a></h2>
            </div>
            <div class="btn rounded mx-3 p-2 mb-3 text-center align-middle btn-block" style="background-image: url('images/bgFreezer.png');">
              <h2><a href="/freezer">My Freezer</a></h2>
            </div>        
            <div class="btn rounded mx-3 p-2 mb-3 text-center align-middle btn-block" style="background-image: url('images/bgPantry.png');">
              <h2><a href="/pantry">My Pantry</a></h2>
            </div>        
            <div class="btn rounded mx-3 p-2 mb-3 text-center align-middle btn-block" style="background-image: url('images/bgRecipes.png');">
              <h2><a href="/fridge">My Recipes</a></h2>
            </div>        

          </div>
          <div class="rounded col-md-5 mx-3 text-center">
            <button type="button" class="btn btn-dark rounded mx-3 p-2 mb-3 text-center align-middle btn-block">Generate Shopping List</button>
            <div class="rounded mx-3 p-2 mb-3 btn-block"  style="background-color: #ffb202;">
              <h2 >Running low on:</h2>
              <h6>
              <!-- populate expiring soon -->
              <div style="background-color: #ff9a4a;" class="row rounded my-2 runningLow w-100 mx-auto p-1">
                <span>Cheese (sample)</span>
                <span>3 slices</span>
                <span>Dairy</span>
                <span>Exp: 1d</span>
                <button type="button" class="btn btn-success btn-sm">Add</button>
              </div>

              <div style="background-color: #ff9a4a;" class="row rounded my-2 runningLow w-100 mx-auto p-1">
                <span>Ribeye (sample)</span>
                <span>3 lbs</span>
                <span>Meat</span>
                <span>Exp: 2d</span>
                <button type="button" class="btn btn-success btn-sm">Add</button>
              </div>
              </h6>
              
              <div style="background-color: #ff9a4a;" class="row rounded my-2 runningLow w-100 mx-auto p-1">
                <span>Onions (sample)</span>
                <span>1 unit</span>
                <span>Veg</span>
                <span>Exp: 5d</span>
                <button type="button" class="btn btn-success btn-sm">Add</button>
              </div>

              {{#each items as |item|}}
                {{#if item.expiring_soon}}
                <div style="background-color: #ff9a4a;" class="row rounded my-2 runningLow w-100 mx-auto p-1">
                  <span>{{item.name}}</span>
                  <span>{{item.quantity}} {{item.unit_of_measurement}}</span>
                  <span>{{item.type}}</span>
                  <span>Exp: {{item.exp_date}}</span>
                  <button type="button" class="btn btn-success btn-sm" data-id="{{item.id}}">Add</button>
                </div>
                {{/if}}
              {{/each}}
              </h6>

            </div>

            </div>  

          </div>
      </div>
        
        
  </div> --}}
