<!-- content here My Refrigerator -->
 <div class="rounded container col-10 p-2 w-100 m-3 mx-auto">
 <div class="row">
      <div class="rounded mx-3 p-2 mb-3 btn-block"  style="background-color: #ffb202;">
          <div class="runningLow w-100 mx-auto p-1">
              <span><h2>Add Section Name Here</h2></span>
              <div class="row">
    <span class="rounded col-md-5 mx-3">
      <button type="button" class="btn btn-success btn-sm" id="add" data-toggle="modal" data-target="#addModal">+Add to List</button>
     </span>  
  </div>
          </div>
          <h6>
          <!-- populate section items here -->           
            {{#each items as |item|}}
                <div style="background-color: #ff9a4a;" class="row rounded my-2 runningLow w-100 mx-auto p-1">
                  <span class = "col-2">{{item.name}}</span>
                  <span class = "col-2">{{item.quantity}} {{unit_of_measurement}}</span>
                  <span class = "col-2">{{item.type}}</span>
                  <span class = "col-2">{{exp_date}}</span>                  
                   <span = "col-3 text-right">
                      <button type="button" class="btn btn-primary btn-sm" id="update" data-toggle="modal" data-target="#updateModal" data-name="{{ingredient.name}}" data-qty="{{ingredient.quantity}}" data-cat="{{ingredient.category}}" data-id="{{ingredient.id}}">Update</button>
                      <button type="button" class="btn btn-danger btn-sm" id="delete" data-id="{{ingredient.id}}"><i class="far fa-trash-alt"></i></button>
                    </span>
                 </div>
            {{/each}}
          </h6>
        </div>
      </div>
  </div>    
</div>

 <!-- update modal -->
  <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Update Items</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body">
          <div class="form-group">
            <label for="updateModalTitle" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="updateModalName">
            <input type="hidden" id="updateID">
          </div>
          <div class="form-group">
            <label for="updateModalText" class="col-form-label">Quantity:</label>
            <input type="number" class="form-control" id="updateModalQty">
          </div>
          <div class="form-group">
            <label for="updateModalText" class="col-form-label">Type:</label>
            <input type="text" class="form-control" id="updateModalCat">
          </div>
          <div class="form-group">
            <label for="addModalExp" class="col-form-label">Expiration Date:</label>
            <input type="date" class="form-control" id="addModalExp">
          </div>
        </div>
        <form class="update-form">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <!-- Add modal -->  
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Add Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body">
          <div class="form-group">
            <label for="addModalTitle" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="addModalName">
            <input type="hidden" id="addID">
          </div>
          <div class="form-group">
            <label for="addModalText" class="col-form-label">Quantity:</label>
            <input type="number" class="form-control" id="addModalQty">
          </div>
          <div class="form-group">
            <label for="addModalCat" class="col-form-label">Type:</label>
            <input type="text" class="form-control" id="addModalCat">
          </div>

          <div class="form-group">
            <label for="addModalUOM" class="col-form-label">Unit of Measure (gallon/lbs/oz/dozen):</label>
            <input type="text" class="form-control" id="addModalUOM">
          </div>
          <div class="form-group">
            <label for="addModalPar" class="col-form-label">Re-order Level:</label>
            <input type="number" class="form-control" id="addModalPar">
          </div>
          <div class="form-group">
            <label for="addModalExp" class="col-form-label">Expiration Date:</label>
            <input type="date" class="form-control" id="addModalExp">
          </div>
        </div>
        <form class="add-form">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>