<div class="container col-10 p-2 w-100 m-3 mx-auto">
  <div class="row">
    <div class="rounded mx-3 p-2 mb-3 btn-block"  style="background-color: #ffb202;">
      <div class="w-100 mx-auto p-1 flex-wrap">

        <span><h2 id="section-head" data-id="{{id}}">{{name}}</h2></span>

          <span class="float-right">
            <button type="button" class="btn btn-primary btn-sm" id="add" data-toggle="modal" data-target="#add-item-modal">+Add New Item</button>
          </span> 
        </div>

      <!-- populate section items here --> 
      <h6>          
        {{#each items as |item|}}
          <div style="background-color: #ff9a4a;" class="row rounded my-2 runningLow w-100 mx-auto p-1">

            <span class = "col-2">{{item.name}}</span>
            <span class = "col mobNoShow">{{item.quantity}} {{unit_of_measurement}}</span>
            <span class = "col mobNoShow">{{item.type}}</span>
            <span class = "col mobNoShow">{{exp_date}}</span>  

            <span class = "col text-right px-0 text-nowrap">

              {{!-- row update button --}}
              <button type="button" class="btn btn-success btn-sm update-btn" data-id={{id}} id={{id}} onclick="popModal()" data-toggle="modal" data-target="#update-item-modal" data-name="{{name}}" data-qty="{{quantity}}" data-cat="{{type}}">Update</button>

              {{!-- row delete button --}}
              <button type="button" class="btn btn-danger btn-sm delete-btn" data-id={{id}}><i class="far fa-trash-alt" data-id={{id}}></i></button>
            
            </span>
          </div>
        {{/each}}
      </h6>
    </div>
  </div>
</div>    

<!-- Update modal -->
  <div class="modal fade" id="update-item-modal" tabindex="-1" role="dialog" aria-labelledby="update-item-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">update inventory</h5>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
  
        <form id="update-item-form" class="modal-body">
          <div class="form-group">
            <label for="update-modal-name" class="col-form-label">description:</label>
            <input type="text" class="form-control" id="update-modal-name">
          </div>

          <div class="form-group">
            <label for="update-modal-cat" class="col-form-label">category:</label>
            <input type="text" class="form-control" id="update-modal-cat">
          </div>

          <div class="form-group">
            <label for="update-modal-qty" class="col-form-label">quantity:</label>
            <input type="number" min="0" class="form-control" id="update-modal-qty">
          </div>

          <div class="form-group">
            <label for="update-modal-section" class="col-form-label">section:</label>
            <select id="update-modal-section" name="update-modal-section">
              {{#each sectionInfo as |sectionInfo|}}
              <option value="{{sectionInfo.id}}">{{sectionInfo.name}}</option>
              {{/each}}
            </select>
          </div>

          <div class="form-group">
            <label for="update-modal-par" class="col-form-label">par level:</label>
            <input type="number" min="0"class="form-control" id="update-modal-par">
          </div>

          <div class="form-group">
            <label for="update-modal-uom" class="col-form-label">uom:</label>
            <input type="text" placeholder="enter uom" min="0" class="form-control" id="update-modal-uom">
          </div>

          <div class="form-group">
            <label for="update-modal-exp" class="col-form-label">expiration date:</label>
            <input type="date" class="form-control" id="update-modal-exp">
          </div>

          <div class="modal-footer">
            <button id="update-item-btn" type="button" class="btn btn-success" data-dismiss="modal">Update</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  
<!-- Add modal -->  
<div class="modal fade" id="add-item-modal" tabindex="-1" role="dialog" aria-labelledby="add-item-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">add new item to {{name}}</h5>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

      <form id="add-item-form" class="modal-body">
          <div class="form-group">
            <label for="add-modal-name" class="col-form-label">description:</label>
            <input type="text" class="form-control" id="add-modal-name">
          </div>

          <div class="form-group">
            <label for="add-modal-cat" class="col-form-label">category:</label>
            <input type="text" class="form-control" id="add-modal-cat">
          </div>

          <div class="form-group">
            <label for="add-modal-qty" class="col-form-label">quantity:</label>
            <input type="number" min="0" class="form-control" id="add-modal-qty">
          </div>

          <div class="form-group">
            <label for="add-modal-par" class="col-form-label">par level:</label>
            <input type="number" min="0"class="form-control" id="add-modal-par">
          </div>

          <div class="form-group">
            <label for="add-modal-uom" class="col-form-label">uom:</label>
            <input type="text" placeholder="enter uom" min="0" class="form-control" id="add-modal-uom">
          </div>

          <div class="form-group">
            <label for="add-modal-exp" class="col-form-label">expiration date:</label>
            <input type="date" class="form-control" id="add-modal-exp">
          </div>

          <div class="modal-footer">
            <button id="add-item-button" type="button" class="btn btn-success" data-dismiss="modal">+Add New Item</button>
          </div>
        </form>
    </div>
  </div>
</div>

<script src="/js/section.js"></script>