    <div class="container my-3 mx-auto ">
      <div class="row col-12">
        <div class="rounded col-md-6">
          {{!-- email button --}}
          <button id="emailBtn" type="button" class="btn btn-dark rounded mx-3 p-2 mb-3 text-center align-middle btn-block noPrint">Email me this list</button>
        </div>
        <div class="rounded col-md-6 text-center">
          <button type="button" class="btn btn-dark rounded mx-3 p-2 mb-3 text-center align-middle btn-block noPrint" onclick="window.print();">Print this List</button>
        </div>  
      </div>
      <div class="row col-12">
        <div class="rounded mx-3 p-2 mb-3 col-12 item-list"  style="background-color: #ffb202;">
          <div class="mx-auto p-1 flex-wrap">
            <h2 class="col">Shopping List</h2>
            <span class="float-right"><button type="button" class="btn btn-primary btn-sm noPrint" id="add" data-toggle="modal" data-target="#addModal">+Add to List</button></span>
          </div>
          {{#each items}}
            {{#each items}}
              {{#if (ifCond quantity '<=' par_level true)}}
          <div style="background-color: #ff9a4a;" class="row rounded my-2 w-100 mx-auto p-1 col-12" id="{{id}}">

            <h2 class="checkbox"><i class="far fa-square" data-fa-transform="grow-6 down-5"></i></h2>
              <span class = "col item-name">{{name}}</span>
              <span class = "col mobNoShow">{{quantity}} of {{par_level}} {{unit_of_measurement}}</span>
              <span class = "col noPrint mobNoShow">{{type}}</span>
              <span class = "col text-right text-nowrap mobNoShow">{{exp_date}}</span>
              <span class = "col text-right px-0 text-nowrap noPrint">

              <button type="button" class="btn btn-success btn-sm updateBtn" id={{id}} data-toggle="modal" data-target="#updateModal" data-name="{{name}}" data-qty="{{quantity}}" data-cat="{{type}}" data-id={{id}}>Update</button>
              <button type="button" class="btn btn-outline-danger btn-sm " onclick="hideMe({{id}})"><i class="fas fa-ban"></i></button>
            </span>
          </div>
              {{/if}}
            {{/each}}
          {{/each}}
        </div>
      </div>
    </div>    

  <!-- Update modal -->
  <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Buy item and add to inventory</h5>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
  
        <form id="updateShoppingItemForm" class="modal-body">
          <div class="form-group">
            <label for="updateModalQty" class="col-form-label">How many did you buy?</label>
            <input type="number" placeholder="Enter purchase quantity" min="0" class="form-control" id="updateModalQty">
            <input type="hidden" id="updateID">
          </div>

          <div class="form-group">
            <label for="addModalExp" class="col-form-label">Add an expiration date (optional)?</label>
            <input type="date" class="form-control" id="updateModalExp">
          </div>

          <div class="modal-footer">

            <button id="updatebtn" type="button" class="btn btn-success" data-dismiss="modal">Update</button>
          </div>

        </form>
      </div>
    </div>
  </div>
  
  <!-- Add modal -->  
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Create new item and add to shopping list</h5>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
  
        <form id="newShoppingItemForm" class="modal-body">
          <div class="form-group">
            <label for="addModalName" class="col-form-label">Enter a description:</label>
            <input type="text" placeholder="(required)" class="form-control" id="addModalName">
            <input type="hidden" id="addID">
          </div>

          <div class="form-group">
            <label for="addModalCat" class="col-form-label">Enter a category:</label>
            <input type="text" placeholder="(optional)" class="form-control" id="addModalCat">
          </div>

          <div class="form-group">
            <label for="addModalUOM" class="col-form-label">Enter a unit of measure:</label>
            <input type="text" placeholder="(optional) (gal/lbs/oz/total)" class="form-control" id="addModalUOM">
          </div>
  
          <div class="form-group">
            <label for="addModalSec" class="col-form-label">Where will you store this item?</label>
            <select id="addModalSec" name="addModalSec">
              {{#each items}}
              <option value={{id}}>{{name}}</option>
              {{/each}}
            </select>
          </div>

          <div class="modal-footer">

            <button id="addbtn" type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="/js/shopping.js"></script>
  <script src="/js/email.js"></script>