    
    <div class="rounded container col-10 p-2 w-100 m-3 mx-auto item-list">
        <div class="row">
          <div class="rounded col-md-5 mx-3">
            <button type="button" class="btn btn-dark rounded mx-3 p-2 mb-3 text-center align-middle btn-block">Email me this list</button>
          </div>
          <div class="rounded col-md-5 mx-3 text-center">
            <button type="button" class="btn btn-dark rounded mx-3 p-2 mb-3 text-center align-middle btn-block">Text me this List</button>
          </div>  
        </div>
        <div class="row">
            <div class="rounded mx-3 p-2 mb-3 btn-block"  style="background-color: #ffb202;">
                <div class="runningLow w-100 mx-auto p-1">
                    <span><h2>Shopping List</h2></span>
                    <span>
                        <button type="button" class="btn btn-success btn-sm" id="add" data-toggle="modal" data-target="#addModal">+Add to List</button>
                    </span>
                </div>
                <h6>
                <!-- populate running low ingredients here -->

                </h6>
   
                {{#each items }}
                    {{#each items}}
                      {{#if (ifCond quantity '<=' par_level true)}}
                <div style="background-color: #ff9a4a;" class="row rounded my-2 w-100 mx-auto p-1 col-12">
                    <span class = "col-3">{{name}}</span>
                    <span class = "col-3">{{quantity}} {{unit_of_measurement}}</span>
                    <span class = "col-3">{{type}}</span>
                    <span class = "col-3 text-right">
                      <button type="button" class="btn btn-primary btn-sm" id="update" data-toggle="modal" data-target="#updateModal" data-name="{{name}}" data-qty="{{quantity}}" data-cat="{{type}}" data-id="{{id}}">Update</button>
                      <button type="button" class="btn btn-danger btn-sm" id="delete" data-id="{{id}}"><i class="far fa-trash-alt"></i></button>
                    </span>
                </div>
                      {{/if}}
                    {{/each}}
                {{/each}}
              </div>
            </div>
        </div>    
        
  </div>

  <!-- Update modal -->
  <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Update Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body">
          <div class="form-group">
            <label for="updateModalName" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="updateModalName">
            <input type="hidden" id="updateID">
          </div>
          <div class="form-group">
            <label for="updateModalQty" class="col-form-label">Quantity:</label>
            <input type="number" class="form-control" id="updateModalQty">
          </div>
          <div class="form-group">
            <label for="updateModalCat" class="col-form-label">Category:</label>
            <input type="text" class="form-control" id="updateModalCat">
          </div>
        </div>
        <form class="update-form">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <!-- Add modal -->  
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Add Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body">
          <div class="form-group">
            <label for="addModalTitle" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="addModalName">
            <input type="hidden" id="addID">
          </div>
          <div class="form-group">
            <label for="addModalText" class="col-form-label">Quantity:</label>
            <input type="number" class="form-control" id="addModalQty">
          </div>
        </div>
        <form class="add-form">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="./js/forms.js"></script>