  {{!-- item variable name reference --}}
  {{!-- {
    id: 1,
    name: 'milk',
    type: 'dairy',
    quantity: 2,
    unit_of_measurement: 'gallon',
    par_level: 1,
    exp_date: '2021-05-11',
    expiring_soon: null,
    section_id: 1
  } --}}

<h1>Summary</h1>

{{!-- render each section --}}
{{#each summary}}
  <div class="container col-10 mx-0 px-0 py-2 my-3 no-gutters mx-auto">
    <div class="row">
      <div class="rounded col-md-3 mx-3">

        <div class="btn rounded mx-3 px-2 text-center align-middle btn-block" style="background-image: url('images/bgFridge.png');">
          <h2><a href="/section/{{id}}">{{name}}</a></h2>
        </div>

        <div class="rounded runningLow mx-3 my-0 p-2 text-center align-middle btn-block" style="background-color: #ff9a4a;">

          {{!-- only render if items array contains data --}}
          {{#if items}}
            <table>
              <thead>
                <tr>
                  <th>desc</th>
                  <th>type</th>
                  <th>quantity</th>
                  <th>UOM</th>
                  <th>exp date</th>
                </tr>
              </thead>

              <tbody>
                {{!-- render each item --}}
                {{#each items}}
                  <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.type}}</td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.unit_of_measurement}}</td>
                    <td>{{this.exp_date}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>

          {{!-- render this if nothing in items array --}}
          {{else}}
            <p>No Content</p>
          {{/if}}
        </div>

        <div class="btn rounded mx-3 px-2 my-0 text-center align-middle btn-block" style="background-color: #ffb202;">
          <h5>Total: {{items.length}}</h5>
        </div>

      </div>
    </div>
  </div>
{{/each}}
